@page "/gallery"
@using BlazorAPI.Services
@inject ImageService ImageService

<h1>Gallery</h1>

@if (images is null)
{
    <p>Loading...</p>
}
else
{
    <div>
        @foreach (var image in images)
        {
            <img src="@image" alt="Image" />
        }
    </div>
    
}



@code {
    private string[] images;
    protected override async Task OnInitializedAsync()
    {
        images = await ImageService.GetImagesAsync();
    }
}
